*{
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.header {
    background-color: #666;
    padding: 30px;
    text-align: right;
    font-size: 35px;
    color: white;
}

.menu{
  width: 100%;
  height : 40px;
  margin: auto;
  position:relative;
  line-height: 50px;

}

.menu ul {
    list-style:none;
}

.menu ul li a{
  width: 100px;
  height: 40px;
  border-right: 1px solid;
  float: left;
  list-style: none;
  text-align: center;
  line-height: 40px;
  display: block;

}

.menu ul li a:hover{
  background-color: blue;
  display: block;
}

.menu ul li:hover .sub1 {display:block}
.menu ul .sub1 {
    display:none;
    text-decoration-color: white;
    position:absolute;
    left:100px;
    top:40px;
    background-color:#666;
}
.sub1 a:hover { color:#fff }

.menu ul li:hover .sub2 {display:block}
.menu ul .sub2 {
    display:none;
    text-decoration-color: white;
    position:absolute;
    left:200px;
    top:40px;
    background-color:#666;
}
.sub2 a:hover { color:#fff }

h3 { color: #666666 ; border: 1px #cccccc; width: 150px ; background-color: #cccccc; text-align: left;}

.content{
  width: 100%;
  height:auto;
}

.gallery{
  margin: 40px;

  border: 1px solid #ccc;
  float: left;
  width: 250px;
  height: 110px;

}

.gallery:hover {
    border: 1px solid #777;
}

.gallery img {
    width: 100%;
    height: 110px;
}



.desc {
    padding: 10px;
    text-align: left;
    padding-left: 0px;
    height: 10px;
}
